.wrapper {
    width: 100%;
    background: rgb(37, 37, 37);
    border-radius: 8px;
    max-height: min((100vh - 96px) - 60px, 734px);
    overflow: hidden auto;
    list-style-type: none;
    padding-inline-start: 0px;
    padding-top: 8px;
}
