.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    min-height: 1000px;
    color: white;
    display: flex;
    background-color: rgba(18, 18, 18, 1);
}

.content {
    min-width: 420px;
    width: 80%;
    margin-left: 20%;
    position: relative;
    background-color: rgba(18, 18, 18, 1);
}
