.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    min-height: 1000px;
    color: white;
    display: flex;
    background-color: rgba(18, 18, 18, 1);
}

.content {
    position: relative;
    width: 100%;
    min-width: 420px;
    background-color: rgba(18, 18, 18, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}
